
h1{
  display: inline;
  text-align: center;
  width: 89%;
}


img{
  width: 10%;
}


header{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 19%;
  background-color: black;
  color: red;
}

.imgheader{
  width: 80px;
  height: 80px;
}

main{
  display: flex;
  justify-content: space-between;
  height: 80%;
}

article{
  width: 80%;
  color: white;
  background-color: #383838;
  text-align: center;
  padding: 2%;
}

aside{
  background-color: greenyellow;
  text-align: center;
  padding: 1%;
  width: 23%;
}

aside img{
  width: 70px;
  height: 120px;
}

.bg-ofertes div{
  width: 100%;
  background-color: #a2e15f;
}

/* config restante */
body article {
  font-family: Arial, sans-serif;
  background-color: #383838;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;
}

.content {
  flex: 1;
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* con esto puedes modificar el tamaño del catalogo */
  gap: 30px;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

.product-item {
  background-color: #2e2e2e;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-item img {
  width: 100%;
  height: 50%;

  border-bottom: 3px solid #ff0000;
}

.product-info {
  flex: 4em; /* 40% */
  padding: 10px;
}

.product-item h3 {
  color: #fff;
  margin: 5px 0;
  font-size: 1.4em;
  font-family: Constantia, "Times new Roman", serif;
}

.product-item p {
  color: #ff0000;
  font-size: 2em;
  font-weight: bold;
  font-family: Audio, "Times new Roman", serif;
  margin: 10px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.quantity-input {
  width: 60px;
  padding: 5px;
}

.btn article {
  background-color: #ffc107;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover article {
  background-color: #e0a800;
}

/* config para el responsive */
@media (max-width: 1430px) { /* esto sirve para verlo desde un dispositivo mobil */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* con esto puedes modificar el tamaño del catalogo */
    gap: 30px;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
  }
}

@media (max-width: 990px) { /* esto sirve para verlo desde un dispositivo mobil */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* con esto puedes modificar el tamaño del catalogo */
    gap: 30px;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
  }
}




@media screen and (max-width: 768px) {

  #btnsobrenosaltres a{
    width: 5%;
    margin-bottom: 20px;
  }
}
