<article>
  <div id="formulari-contenidor">
    <form action="" method="post" class="bg-secondary rounded">
      <div class="article-titol-div">
        <h1 class="article-titol">Introdueix la nova contrasenya per l'usuari: {{this.usuari}}</h1>
      </div>
      <div class="mb-3">
        <label class="form-label">Nova contrasenya</label>
        <input name="contrasenya" type="password" placeholder="Nova contrasenya" class="form-control" [(ngModel)]="contrasena"  required>
      </div>
      <div class="mb-3">
        <label class="form-label">Confirmar contrasenya</label>
        <input name="confirmarcontrasenya" type="password" placeholder="Confirmar contrasenya" class="form-control" [(ngModel)]="confContrasena"  required>
      </div>
      <button type="submit" class="btn btn-primary mb-3" (click)="actualitzarCont()">Comfirmar</button>
    </form>
  </div>

</article>
