<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>P2ProjecteBotigaA2</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<app-header></app-header>

<!-- Este es el nav-->
<nav class="mt-2 navbar navbar-expand-lg justify-content-center">
  <div class="container-fluid menuresponsive">
    <div class="d-flex menuP">
      <div class="me-2 buttonmen">
        <a type="button" class="btn btn-outline-danger" routerLink="/home">Home</a>
      </div>
      <div class="me-2 buttonmen">
        <a type="button" class="btn btn-outline-danger" routerLink="/catalogo">Catàleg</a>
      </div>
      <div class="me-2 buttonmen">
        <a type="button" class="btn btn-outline-danger" routerLink="/sobrenosotros">Sobre nosaltres</a>
      </div>
      <div class="me-2 buttonmen">
        <a type="button" class="btn btn-outline-danger" routerLink="/contacto">Contacte</a>
      </div>
      <div class="me-2 buttonmen">
        <a type="button" class="btn btn-outline-danger" routerLink="/condiciones">Condicions</a>
      </div>
      @if (this.serveiUsuaris.usuari_logat_bool === true){
        <div class="me-2 buttonmen">
          <a type="button" class="btn btn-outline-danger" routerLink="/enquestaClient">Enquesta</a>
        </div>
      }

      @if (this.serveiUsuaris.esAdmin() === true){
        <div class="me-2 buttonmen">
          <a type="button" class="btn btn-outline-danger" routerLink="/er6oo890$pwkjry!g78feoe3krju89o890$pwkjfedw44ler6oo890$pwkjry!g78fere=irgj¨ewdl">Administracio</a>
        </div>

      }
    </div>
    <div class="d-flex flex-row justify-content-md-end justify-content-between align-items-center">
      <a routerLink="/login" class="btn btn-primary me-2" type="button">
        <img class="iconosAzul" src="multimedia/compte.png">
      </a>
      <a routerLink="/cesta" class="btn btn-primary me-2" type="button">
        <img class="iconosAzul" src="multimedia/compra.png">
      </a>
      <div class="d-flex align-items-center" *ngIf="serveiUsuaris.usuari_logat_bool">
        <p class="user-name mb-0">{{ serveiUsuaris.usuari_logat?.usuario }}!</p>
        <button class="btn btn-outline-danger btn-logout ms-2" data-bs-toggle="modal" data-bs-target="#logoutModal">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Bootstrap per a confirmar el logout -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirmar Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Estàs segur que vols tancar sessió?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel·lar</button>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>


<router-outlet/>

<!-- Aqui encontramos el footer -->
<footer>
  <div class="footercomplert d-flex flex-column">
    <div class="prefooter enllaços-footer">
      <div class="footer1 mt-3">
        <h3>Vols treballar amb nosaltres?</h3>
        <p>Escriu un correu a:
          <a href="mailto:contratacions@bobbycotxes.com">contratacions&#64;bobbycotxes.com</a>
        </p>
      </div>

      <div class="xarcesordre mt-3 divPrefooter" >
        <h2>Xarxes socials</h2>
        <div class="xarxescontenidor d-flex flex-row justify-content-center">
          <!-- WhatsApp -->
          <div class="xarxesdiv">
            <a href="https://wa.me/612345678" target="_blank" class="btn btn-outline-success">
              <img class="xarxes" src="multimedia/xarxessocials/whatsapp.png" alt="WhatsApp">
            </a>
          </div>

          <!-- Instagram -->
          <div class="xarxesdiv">
            <a href="https://www.instagram.com/cochesnetoficial/" target="_blank" class="btn btn-outline-danger">
              <img class="xarxes" src="multimedia/xarxessocials/instagram.png" alt="Instagram">
            </a>
          </div>

          <!-- Facebook -->
          <div class="xarxesdiv">
            <a href="https://www.facebook.com/Coches.net/" target="_blank" class="btn btn-outline-primary buttoF">
              <img class="xarxes" src="multimedia/xarxessocials/facebook.png" alt="Facebook">
            </a>
          </div>
        </div>
      </div>

      <div class="footer2 mt-3 divPrefooter">
        <h3>Vols saber més sobre nosaltres? clica aqui</h3>
        <a type="button"  id="btnsobrenosaltres" class="btn btn-outline-danger" href="sobrenosotros">Sobre nosaltres</a>
      </div>

      <div class="footer3 mt-3 mb-3 divPrefooter" >
        <div>
          <h3>Enllaços d'interes juridic</h3>
        </div>
        <div>
          <div><a href="https://portaljuridic.gencat.cat/eli/es/lo/2018/12/05/3">Llei de Protecció de Dades</a></div>
          <div><a href="https://www.boe.es/biblioteca_juridica/codigos/codigo.php?id=150&modo=2&nota=0&tab=2">Codi civil</a></div>
          <div><a href="https://portaljuridic.gencat.cat/eli/es/l/2002/07/11/34">Llei de Serveis de la Societat de la Informació i del Comerç Electrònic</a></div>
          <div><a href="https://consum.gencat.cat/ca/lagencia/codi-de-consum-de-catalunya/sintesi-dels-drets-de-les-persones-consumidores-i-usuaries/els-drets-basics-de-les-persones-consumidores/">Drets del Consumidor</a></div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <p>Copyright © 2024 Bobby Cotxes</p>
    </div>

  </div>
</footer>

</body>
</html>
