<main>
  <article>
    <div class="mt-3">
      <h1 class="titolcont">Catàleg</h1>
    </div>

    <div class="container">
      <div class="content">
        <div class="product-grid">
          <div class="product-item" id="car1">
            <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Mustang%20Dodge%20Challenger%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Mustang%20Dodge%20Challenger%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Mustang Dodge Challenger</h3>
              <small>Icona dels "muscle cars", aquest destaca pel seu disseny cuadrat i potent.</small>
              <p>176.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car2">
            <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Bugatti%20LaVultNoir%20v1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Bugatti%20LaVultNoir%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Bugatti La Vult Noir</h3>
              <small>Amb el seu disseny ultra-luxós i aerodinàmic, és un dels cotxes mes cars del món.</small>
              <p>18.000.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" id="quantity1" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car3">
            <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Lambo%20Aventador%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Lambo%20Aventador%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Lamborghini Aventador</h3>
              <small>Aquest super-esportiu és conegut pel seu disseny agressiu i angular.</small>
              <p>458.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car4">
            <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Mazda%20Miata%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Mazda%20Miata%20v2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Mazda%20Miata%20v3.png" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Mazda Miata</h3>
              <small>Malgrat no ser dels més ràpids, continua tenint una estètica esportiva però amigable.</small>
              <p>30.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>

            </div>
          </div>

          <div class="product-item" id="car5">
            <div id="carouselExampleControls5" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Kawasaki%20Ninja%20H2R%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Kawasaki%20Ninja%20H2R%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls5" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls5" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Kawasaki Ninja H2R</h3>
              <small>Es famós per ser una de les motos més rapides i potents del mercat, principalment dissenyada per a circuits.</small>
              <p>55.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car6">
            <div id="carouselExampleControls6" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Ferrari%20Roma%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Ferrari%20Roma%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls6" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls6" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Ferrari Roma</h3>
              <small>Esportiu modern amb un disseny elegant i sofisticat que fa recordar als models classics de la marca italiana.</small>
              <p>254.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car7">
            <div id="carouselExampleControls7" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Lambo%20Urus%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Lambo%20Urus%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls7" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls7" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Lamborghini Urus</h3>
              <small>Combina la velocitat i el disseny agressiu característic de la marca amb la versatilitat d'un tot-terreny.</small>
              <p>240.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car8">
            <div id="carouselExampleControls8" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Aston%20Martin%20DB12%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Aston%20Martin%20DB12%20v2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Aston%20Martin%20DB12%20v3.png" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls8" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls8" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Aston Martin DB12</h3>
              <small>Equipat amb un motor V8, ofereix una mescla perfecta entre luxe, rendiment i tecnologia.</small>
              <p>338.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car9">
            <div id="carouselExampleControls9" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Maserati%20MC20%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Maserati%20MC20%20v2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Maserati%20MC20%20v3.png" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls9" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls9" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Maserati MC20</h3>
              <small>Un super-esportiu que combina l'esportivitat i luxe d'una forma única que marca una nova era per a Maserati.</small>
              <p>276.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car10">
            <div id="carouselExampleControls10" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Audi%20R8%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Audi%20R8%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls10" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls10" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Audi R8</h3>
              <small>És un dels super-esportius mes reconeguts d'Audi, gràcies a la seva tracció i maneig precís, és de entendre el seu excepcional rendiment.</small>
              <p>210.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car11">
            <div id="carouselExampleControls11" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Ford%20Mustang%20GT500%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Ford%20Mustang%20GT500%20v2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Ford%20Mustang%20GT500%20v3.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Ford%20Mustang%20GT500%20v4.png" alt="Fourth slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls11" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls11" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Ford Mustang GT500</h3>
              <small>La versió mes extrema d'aquesta gamma, equipada amb un motor V8 que produeix mes de 700 cavalls de potència.</small>
              <p>149.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car12">
            <div id="carouselExampleControls12" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Chevrolet%20Camaro%20ZL1%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Chevrolet%20Camaro%20ZL1%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls12" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls12" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Chevrolet Camaro ZL1</h3>
              <small>És la versió de Camaro amb un disseny musculos i esportiu, aquesta mes enfocat en la velocitat i la potència.</small>
              <p>94.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car13">
            <div id="carouselExampleControls13" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Bugatti%20Chiron%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Bugatti%20Chiron%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls13" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls13" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Bugatti Chiron</h3>
              <small>El Chiron és conegut per la seva velocitat increïble, superant els 400km/h, i pel seu disseny curvilini i areodinàmic.</small>
              <p>2.500.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car14">
            <div id="carouselExampleControls14" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Lexus%20LFA%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Lexus%20LFA%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls14" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls14" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Lexus LFA</h3>
              <small>Aquest esportiu japonès, és famós pel so impressionant que ofereix el seu motor V10, i la seva producció limitada que ho fa ser fins i tot mes exclusiu.</small>
              <p>415.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car15">
            <div id="carouselExampleControls15" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Ferrari%20F40%20v1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Ferrari%20F40%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls15" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls15" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Ferrari F40</h3>
              <small>Considerat un dels super-esportius mes iconics de Ferrari, és conegut pel seu rendiment i la seva estètica minimalista.</small>
              <p>800.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car16">
            <div id="carouselExampleControls16" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/McLaren%20Senna%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/McLaren%20Senna%20v2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/McLaren%20Senna%20v3.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/McLaren%20Senna%20v4.png" alt="Fourth slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls16" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls16" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>McLaren Senna</h3>
              <small>Un hiper-esportiu que porta el nom del llegendari pilot "Ayrton Senna", el seu disseny és extremadament aerodinàmic i lleuger enfocat en el rendiment en pista.</small>
              <p>1.650.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car17">
            <div id="carouselExampleControls17" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Ferrari%20SF90%20v1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Ferrari%20SF90%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls17" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls17" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Ferrari SF90</h3>
              <small>L'hibrit mes avançat tecnologicament de Ferrari, amb un disseny futurista i extremadament agressiu. A més subraya el vincul existent entre circuit i carretera.</small>
              <p>510.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car18">
            <div id="carouselExampleControls18" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Toyota%20Supra%20MK4%20v1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Toyota%20Supra%20MK4%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls18" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls18" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Toyota Supra MK4</h3>
              <small>Gràcies a la seva capacitat de ser altament modificable, el seu disseny és iconic i representa una era daurada dels esportius japonesos dels 90'.</small>
              <p>121.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>

          <div class="product-item" id="car19">
            <div id="carouselExampleControls19" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/Chevrolet%20Corvette%20ZR1%20v1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/Chevrolet%20Corvette%20ZR1%20v2.png" alt="Second slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls19" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls19" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
              </a>
            </div>
            <div class="product-info">
              <h3>Chevrolet Corvette ZR1</h3>
              <small>És la versió mes poderosa del Corvette, ja que compta amb un motor que genera mes de 750 cavalls de potència per a maximitzar el seu rendiment.</small>
              <p>270.000 €</p>
              <div class="actions">
                <a type="button" class="btn btn-warning">Afegir a la cistella</a>
                <label for="quantity1" class="quantity-label">Cantidad:</label>
                <input type="number" class="quantity-input" min="1" value="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <aside>
    <h1>Ofertes</h1>

    <h2 class="mt-3"><strong>Destacat!</strong></h2>
    <div class="linea">
      <div class="columna">
        <div class="bg-ofertes">
          <div class="card m-1 bg-ofertes">
            <h3>Audi R8 <strong>10% de descompte</strong></h3>
            <img class="img-fluid card-img-top" src="images/Audi%20R8%20v1.png" alt="cotxeoferta1">
            <p><small>Audi R8 <s>210.000€</s> --> <strong>198.000€!!</strong></small></p>
            <div class="card-body">
              <p class="card-text">Comprat el teu nou cotxe amb nosaltres a Bobby cotxes i farem un descompte adicional del 10% per ser soci!!!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="columna">
        <h2 class="mt-3"><strong>Destacat!</strong></h2>
        <div class="bg-ofertes">
          <div class="card m-1 bg-ofertes">
            <h3>Lamborghini Urus <strong>15% de descompte</strong></h3>
            <img class="img-fluid card-img-top" src="images/Lambo%20Urus%20v1.png" alt="cotxe oferta2">
            <p><small>Lamborgini Urus <s>240.000€</s> --> <strong>220.500€!!</strong></small></p>
            <div class="card-body">
              <p class="card-text">Comprat el teu nou cotxe amb nosaltres a Bobby cotxes i farem un descompte adicional del 10% per ser soci!!!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="columna">
        <h2 class="mt-3"><strong>Destacat!</strong></h2>
        <div class="bg-ofertes">
          <div class="card m-1 asideresponsive">
            <h3>Maserati MC20 <strong>12% de descompte</strong></h3>
            <img class="img-fluid card-img-top" src="images/Maserati%20MC20%20v1.png" alt="cotxeoferta3">
            <p><small>Maserati MC20 <s>276.000€</s> --> <strong>248.200€!!</strong></small></p>
            <div class="card-body">
              <p class="card-text">Comprat el teu nou cotxe amb nosaltres a Bobby cotxes i farem un descompte adicional del 10% per ser soci!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</main>
