<article>
  <h2 class="fs-1">Termes i condicions de compra</h2>
  <pre>
    <b class="fs-4">1. Disposicions generals</b>

    1.1. Els següents termes i condicions de compra són d’aplicació a la compra-venda de productes a través del lloc web Cotxes Bobby

    1.2. Per poder comprar els productes en el nostre lloc web cal que es compleixin les següents condicions:
    1.2.1. Cal ser major d’edat (18 anys) o, en cas contrari, estar autoritzats pel vostre tutor legal.
    1.2.2. Cal ser una persona física i actuar amb finalitats que no tinguin res a veure amb la revenda del producte, amb la vostra indústria, ofici, negoci o professió.

    1.3. Aquest contracte s’ha redactat en català i està regulat per la legislació espanyola segons la Llei 3/2014, de 27 de març, per la que es modifica el text refós de la Ley General para la defensa de los Consumidores y Usuarios, i altres lleis complementàries, aprovat pel Real Decreto Legislativo 1/2007, de 16 de noviembre, i la Ley 34/2002, del 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (“LSSI”).

    <b  class="fs-4">2. Productes</b>

    2.1. El lloc web disposa d’informació sobre els productes subministrats conforme els Articles 60, 63 i 97 de la Llei del Consumidor i els Articles 27 i 28 de la LSSI.

    2.2. Els productes exposats a Cotxes Bobby que enviarem al client són exclusivament per al seu ús personal. No s’autoritzen revendes dels productes enviats a través del nostre web. Cops Amagats i el seu Propietari es reserven el dret de cancel·lar o reduir les quantitats de productes a entregar si intuïm que s’estan incomplint els termes i condicions de venda exposats.

    <b  class="fs-4">3. Preus</b>

    Els preus dels productes de Cotxes bobby que figuren al nostre web són en Euros i inclouen l’IVA en els tipus vigent. Les despeses d’enviament se sumaran al preu del producte i es calculen a part en el formulari de comanda.

    <b class="fs-4">4. Realització de la comanda</b>

    A traves de la nostra web podeu realitzar la comanda de cotxes bobby amb els productes que hagueu escollit. Per realitzar la comanda, haureu de seguir els passos següents:

        1. Iniciar sessió al nostre web.
        2. Seleccionar el producte que voleu comprar.
        3. Dirijir-vos a la secció de cesta.
        4. seguir els passos que apareixen a la pantalla, per a comprar el producte.
        5. Finalment, haureu de confirmar la comanda.

    <b  class="fs-4">5. Informació d’Entrega i Enviaments</b>

    Tota la informació que necessiteu per a realitzar la vostra comanda la podeu trobar al formulari que omplireu a la pàgina de compra.

    <b  class="fs-4">6. Opcions de pagament</b>

    Podeu fer el pagament de les vostres comandes mitjançant targeta de crèdit, targeta de dèbit, Pay-Pal, G-Pay, ApplePay o transferència bancària si us poseu en contacte amb nosaltres. Les targetes de crèdit i dèbit acceptades són Visa, Mastercard i AmericanExpress.
    En el cas de transferència bancària, l’enviament de la comanda no es realitzarà fins al moment de rebre l’import al compte corrent indicat.
    Els titulars de les targetes de crèdit i dèbit estan subjectes a comprovacions de validació i autorització per part de l’entitat emissora de la targeta. Si l’emissor de la targeta de pagament del client denega o no autoritza el pagament a favor nostre, no serem els responsables dels endarreriments o entregues no realitzades.

    <b  class="fs-4">7. Consultes sobre comandes realitzades</b>

    Els enviaments es realitzaran amb la major brevetat possible després de rebre la vostra comanda. Si voleu saber en quin estat es troba la vostra comanda, trobareu tota la informació que necessiteu per a realitzar la vostra comanda la podeu trobar al formulari que omplireu a la pàgina de compra.

    <b  class="fs-4">8. Cancel·lacions de comandes</b>

    Es procedirà a cancel·lar la comanda en els següents supòsits:

    Quan el client ho sol·liciti, sempre i quan la comanda no hagi estat enviada (5 hores després de la comanda com a molt tard)
    Quan la comanda s’hagi fet per duplicat
    Quan l’adreça d’entrega indicada no sigui correcta i no es pugui realitzar l’entrega
    Quan no es pugui processar la informació del pagament
    Quan no disposem del producte sol·licitat en el nostre estoc

    Quan es cancel·li una comanda, el client rebrà un correu electrònic fent-li saber els motius de la cancel·lació. No es cobraran al client les comandes cancel·lades.

    <b  class="fs-4">8. Entrega de la comanda</b>

    Les comandes es preparen i envien exclusivament en dies hàbils (de dilluns a
    divendres, no festius). Les comandes que es realitzin en dia festiu o durant el cap de setmana es començaran a tramitar el següent dia hàbil.
    Així mateix, CORREOS no està operatiu durant el cap de setmana ni els dies festius.
    En moments de forta demanda o durant els períodes de vacances els terminis
    d’entrega es poden allargar.
    CORREOS fa dos intents d’entrega al domicili indicat. En cas que no s’hagi pogut entregar la comanda, enviarà un SMS al telèfon de contacte indicat durant el procés de compra i deixarà el paquet a l’oficina de correus més propera. El client podrà recollir la comanda acreditant-se mitjançant el seu DNI.
    No es fan entregues a apartats de correus.
    Les despeses d’enviament van a càrrec del client.
    No es realitzen enviaments a l’estranger.

    <b  class="fs-4">9. Dret de desistiment</b>

    9.1. Tot i que a Cops Amagats mirem d’oferir els productes de màxima qualitat; en el supòsit que el client no se senti satisfet, i en compliment de l’Article 71 de la Llei del Consumidor, tindrà dret a desistir del contracte, sense adduir cap causa dins del període de 14 dies naturals comptats a partir de la data de recepció dels
    productes.

    9.2. El client podrà exercir el seu dret a desistiment notificant-nos-ho a través d’un correu facilitat a l'apartat de contacte on haurà d’indicar el número de comanda i la descripció dels productes objecte de la devolució. En el paquet enviat amb la comanda, el client rebrà una nota d’enviament amb els detalls de la comanda. Si els productes entregats no coincideixen amb els de nota d’enviament, cal que el client ens ho notifiqui mitjançant un correu electrònic a copsamagats.botiga&#64;gmail.com

    9.3. En el cas que el client decideixi retornar els productes adquirits per altres causes que no siguin el mal estat dels productes o l’error en la comanda entregada, caldrà procedir a la seva devolució.
    En cas que sigui per l’exercici del dret de desistiment, reemborsarem al client el preu dels productes adquirits si se’ns notifica dins dels 14 dies naturals comptats a partir del dia de la seva entrega. No així les despeses d’enviament. Cal que els productes retornats estiguin en perfecte estat, sense haver estat usats. Les despeses de l’enviament per a la seva devolució aniran a càrrec del client. Cotxes Bobby té el dret de retenir el reemborsament fins a haver rebut els productes retornats i haver-ne comprovat el seu estat.

    <b  class="fs-4">10. Absència de conformitat</b>

    10.1. En el cas d’absència de conformitat dels productes amb el contracte i seguint les determinacions del que es disposa a l’Article 116 de la Llei del Consumidor, seran d’aplicació les garanties establertes als articles 118 a 122 de l’esmentada llei. El client té dret que es reparin o substitueixin els productes sense cap cost, de forma que siguin conformes al contracte i en el seu defecte el client tindrà dret a una rebaixa adequada al preu del producte o a cancel·lar el contracte.
    En cas que no ens ho notifiqui en els catorze dies següents a l’entrega del producte, entendrem que el client renuncia a aquests drets.

    <b  class="fs-4">11. Llei aplicable</b>

    11.1. Els termes d’aquest contracte estan regulats per la legislació catalana i l’espanyola, i cal que s’interpretin conforme a les lleis tant catalanes com espanyoles.

    11.2. Els conflictes que es puguin derivar de la interpretació o validesa d’aquests termes i condicions de compra se sotmetran a la competència dels jutjats i tribunals del lloc de residència o domicili del client.</pre>
</article>
