h1 {
  display: inline;
  text-align: center;
  width: 89%;
}

img {
  width: 10%;
}

main {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

article {
  width: 80%;
  color: white;
  background-color: #383838;
  text-align: center;
  padding: 2%;
}

.article-titol {
  font-size: 50px;
}

#cotxe-benvinguda {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 600px;
  height: 400px;
}

aside {
  background-color: greenyellow;
  text-align: center;
  padding: 1%;
  width: 23%;
}

aside img {
  width: 70px;
  height: 120px;
}

.bg-ofertes div {
  width: 100%;
  background-color: #a2e15f;
}

@media screen and (max-width: 768px) {
  #cotxe-benvinguda{
    width: 80%;
    height: 10%;
  }
}
