<div class="container mt-5 text-center text-light">
  <h1 class="mb-4 text-info fw-bold">Consola d'Administrador</h1> <br>
  <img src="https://th.bing.com/th/id/R.079f46b63290962e47a1a564b643d391?rik=sA%2bXyaqHRkcnzg&pid=ImgRaw&r=0">
  <div class="d-flex flex-column align-items-center gap-3">
    <a routerLink="/afeguirCotxe" class="btn btn-light btn-lg w-75 shadow">
      🚗 Afeguir Cotxe
    </a>
    <a routerLink="/ofertas" class="btn btn-secondary btn-lg w-75 shadow">
      📋 Gestionar Ofertes
    </a>
    <a routerLink="/ofertas" class="btn btn-info btn-lg w-75 shadow">
      📊 Historial i Gràfics
    </a>
  </div>
</div>
