<div *ngIf="esAdmin; else noAdmin">
  <h1>Historial de Productes</h1>

  <table *ngIf="historial?.length > 0; else noData">
    <thead>
    <tr>
      <th>ID Factura</th>
      <th>Client</th>
      <th>Data Creació</th>
      <th>Quantitat</th>
      <th>Nom Cotxe</th>
      <th>En Oferta</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of historial">
      <td>{{ item.FACTURA_ID }}</td>
      <td>{{ item.CLIENT_NOM }}</td>
      <td>{{ item.DATA_CREACIO | date:'dd/MM/yyyy' }}</td>
      <td>{{ item.QUANTITAT }}</td>
      <td>{{ item.COTXE_NOM }}</td>
      <td>{{ item.EN_OFERTA === 'Sí' ? 'Sí' : 'No' }}</td>
    </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <p>No hi ha dades disponibles per mostrar.</p>
  </ng-template>
</div>

<ng-template #noAdmin>
  <p>No tens permisos d'administrador per veure aquesta informacio.</p>
</ng-template>
