<!-- Aqui encontramos el header de la web-->
<header class="bg-dark text-light py-3 position-relative">
  <div class="container headerdis d-flex align-items-center justify-content-between">
    <div class="logo-container">
      <img class="img-fluid imgheader logo-bg" src="multimedia/logo.png" alt="Logo">
    </div>
    <div class="text-center content-container">
      <blockquote class="blockquote mb-2">
        <p id="titolheader" class="fs-1 fw-bold text-uppercase mb-0">Cotxes Bobby</p>
      </blockquote>
      <p class="blockquote-footer text-light fst-italic">
        Potència en cada corba, l’emoció en cada quilòmetre
      </p>
    </div>
  </div>
</header>
