<!DOCTYPE html>
<body>

<article>

  <div><h1 id="titolcistella">Cistella</h1></div>

  <div class="cistellaflex">
    <div id="div-productes">
  @for (cocheA of serveiUsuari.usuari_logat?.cesta; track serveiUsuari.usuari_logat?.cesta){
        <div id="coche{{cocheA.coche.id}}">
        <div class="d-flex flex-row mb-3 justify-content-between align-items-center producte">
          <div class="me-3">
            <img [src]="cocheA.coche.imgC[0]" alt="Imagen de {{ cocheA.coche.name }}" />
          </div>
          <div class="me-3">
            <p>{{ cocheA.coche.name }} {{ cocheA.coche.price }}€</p>
          </div>
          <div class="me-3">
            <p>Quantitat</p>
            <input type="number" [(ngModel)]="cocheA.quantity" [min]="0" [max]="10" />
          </div>
          <div class="me-3">
            <button type="button" (click)="eliminarcesta(cocheA.coche.id)" class="btn-close" aria-label="Close"></button>
          </div>
        </div>
        </div>
  }
    </div>
  </div>


  <div>
      <div>
      <div id="formulari-contenidor">
        <form action="" method="post" class="bg-secondary rounded">
          <div class="article-titol-div">
            <h1 class="article-titol">Pagament</h1>
          </div>
          <div class="mb-3">
            <label class="form-label">Metode</label>
            <div class="mb-3">
              <label class="btn btn-primary me-2">
                <input type="radio"  name="metodepagamanet" hidden><img class="iconoMetodePagament" src="multimedia/metodespagament/mastercard.png">
              </label>
              <label class="btn btn-primary me-2">
                <input type="radio"  name="metodepagamanet" hidden><img class="iconoMetodePagament" src="multimedia/metodespagament/visa.png">
              </label>
              <label class="btn btn-primary me-2">
                <input type="radio"  name="metodepagamanet" hidden><img class="iconoMetodePagament" src="multimedia/metodespagament/paypal.png">
              </label>
              <label class="btn btn-primary me-2">
                <input type="radio"  name="metodepagamanet" hidden><img class="iconoMetodePagament" src="multimedia/metodespagament/targeta.png">
              </label>
            </div>
            <div class="d-flex flex-row mb-3 justify-content-between align-items-center gap-3">
              <div class="d-flex flex-column justify-content-center gap-1">
                <div>
                  <label class="form-label ">Titular</label>
                  <input name="nom-titular" type="text" placeholder="Bobby cotxes" class="form-control" required>
                </div>
              </div>
              <div>
                <div>
                  <label class="form-label ">Numero targeta/compte</label>
                  <input name="numero-targeta" type="text" placeholder="1234 5678 9101 1120" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row mb-3 justify-content-between gap-3">
              <div>
                <label class="form-label ">data d'expiració</label>
                <input name="data-expiracio" type="month" placeholder="12/99" class="form-control" required>
              </div>
              <div class="me-3">
                <label class="form-label ">CVV</label>
                <input name="cvv" type="number" placeholder="999" min="0" max="999" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="m-3 form-check">
            <input name="reocordar-targeta" type="checkbox" class="form-check-input">
            <label class="form-check-label">Guardar metode de pagament amb el teu compte</label>
          </div>
          <div class="d-flex flex-row mb-3 mt-3 justify-content-between gap-3">
            <h2>Factura:</h2>
            <div>
              <div><p>Total productes: </p></div>
              <div><p>Taxes: </p></div>
            </div>
            <div>
              <div><p>000.00€ </p></div>
              <div><p>000.00€ </p></div>
            </div>
            <div></div>
          </div>
          <h1>Total:</h1>
          <h1>00.00€</h1>
          <a id="Comprar" href="paginaloadingtramitarpagament.html" type="submit" class="btn btn-primary">Comprar</a>
        </form>
      </div>
    </div>
  </div>
</article>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
</script>
</body>
