.metode{
  width: 25px;
  height: 25px;
}

img{
  width: 100%;
  height: 100%;
}

.producte div{
  width: 20%;
}

article{
  width: 100%;
  color: white;
  background-color: #383838;
  text-align: center;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 1%;
}

.article-titol-div{
  font-size: 45px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.producte{
  background-color: #e10000;
  width: 100%;
  padding: 10px;
  box-shadow: 6px 6px #1c1c1c;
  border-radius: 5px;
}

form {
  box-shadow: 10px 10px #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#div-productes{
  width: 50%;
}

p{
  text-align: center;
}

input[type="month"]{
  text-align: center;
  width: 72%;
  margin: auto;
}

input[name="numero-targeta"]{
  text-align: center;
  width: 90%;
  margin: auto;
}

input[name="nom-titular"]{
  text-align: center;
  width: 90%;
  margin: auto;
}

form input[type="number"]{
  text-align: center;
  width: 100%;
  margin: auto;
}

button[type="submit"]{
  width: 40%;
  height: 100%;

}

article input[type="number"]{
  width: 100%;
}

#titolcistella{
  font-size: 60px;
}

.cistellaflex{
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  justify-content: space-between;
  gap: 5%;
}

#Comprar{
  width: 25%;
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
  form{
    width: 85%;
  }

  article p{
    font-size: 0.5em;
  }

  article input[type="number"]{
    width: 100%;
  }

  .cistellaflex{
    justify-content: flex-start;
  }
}
