//estrcutura con primero un if para ver si entrar en el modelo 1 que es el estandar con header footer o uno modificado que solo tiene un header modificado i una pantalla de carga, i despues a la general un estudio de casos que a partir de selecionar en el header a traves del servicio se podra ir canviando de contenido
@if (){
  // app-header
  @switch (){
    @case (1){

    }
    @case (2){

    }
    @case (3){

    }
    @case (4){

    }
    @case (5){

    }
    @case (6){

    }
    @case (7){

    }
    @case (8){

    }
    @case (9){

    }
    @default {

    }

  }
  //app footer

}
@else if (){
  // app header-m per carrega
  // app carrega
}
<router-outlet />
