<main>
  <article>
    <div class="article-titol-div">
      <h1 class="article-titol">Bobby Cotxes</h1>
    </div>

    <h2>Benvingut a <strong>Bobby Cotxes</strong>, la teva destinació número u per a la compra de cotxes en línia!</h2>

    <img class="img-fluid mb-3" id="cotxe-benvinguda" alt="imatge cotxe principal" src="images/Toyota Supra MK4 v1.png">

    <p>A Bobby Cotxes sabem que adquirir un cotxe és una de les decisions més importants que pots prendre. Per això, hem dissenyat una plataforma intuitiva i fàcil d'usar, on podràs trobar una amplia varietat de vehicles, des dels més econòmics fins als models de luxe, tot a l'abast d'un clic.</p>

    <p>El nostre compromís és oferir-te una experiència de compra senzilla i transparent. Cada un dels nostres cotxes compta amb descripcions detallades, fotografies d'alta qualitat i un historial complet, perquè puguis prendre la millor decisió sense sorpreses. A més, el nostre equip d'experts està disponible per resoldre qualsevol dubte i oferir-te assessorament personalitzat.</p>

    <p>A Bobby Cotxes entenem que el temps és valuós, per això hem optimitzat el nostre procés de compra perquè puguis comparar, seleccionar i adquirir el teu cotxe ideal de manera ràpida i segura. I si busques finançament, també t'oferim opcions flexibles adaptades a les teves necessitats.</p>

    <p>Uneix-te a la família de Bobby Cotxes i descobreix la manera més <strong>senzilla i fiable</strong> de comprar el teu proper cotxe! Explorem el món de l'automoció per portar-te només les millors opcions. El teu viatge cap a l'experiència automobilística perfecta comença aquí.</p>

    <p class="fs-2"><strong>Visita'ns i fes el primer pas cap al teu nou cotxe avui mateix!</strong></p>
  </article>

  <aside>
    <h1>Ofertes</h1>

    <h2 class="mt-3"><strong>Destacat!</strong></h2>
    <div class="linea">
      <div class="columna">
        <div class="bg-ofertes">
          <div class="card m-1 bg-ofertes">
            <h3>Audi R8 <strong>10% de descompte</strong></h3>
            <img class="img-fluid card-img-top" src="images/Audi%20R8%20v1.png" alt="cotxeoferta1">
            <p><small>Audi R8 <s>210.000€</s> --> <strong>198.000€!!</strong></small></p>
            <div class="card-body">
              <p class="card-text">Comprat el teu nou cotxe amb nosaltres a Bobby cotxes i farem un descompte adicional del 10% per ser soci!!!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="columna">
        <h2 class="mt-3"><strong>Destacat!</strong></h2>
        <div class="bg-ofertes">
          <div class="card m-1 bg-ofertes">
            <h3>Lamborghini Urus <strong>15% de descompte</strong></h3>
            <img class="img-fluid card-img-top" src="images/Lambo%20Urus%20v1.png" alt="cotxe oferta2">
            <p><small>Lamborgini Urus <s>240.000€</s> --> <strong>220.500€!!</strong></small></p>
            <div class="card-body">
              <p class="card-text">Comprat el teu nou cotxe amb nosaltres a Bobby cotxes i farem un descompte adicional del 10% per ser soci!!!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="columna">
        <h2 class="mt-3"><strong>Destacat!</strong></h2>
        <div class="bg-ofertes">
          <div class="card m-1 asideresponsive">
            <h3>Maserati MC20 <strong>12% de descompte</strong></h3>
            <img class="img-fluid card-img-top" src="images/Maserati%20MC20%20v1.png" alt="cotxeoferta3">
            <p><small>Maserati MC20 <s>276.000€</s> --> <strong>248.200€!!</strong></small></p>
            <div class="card-body">
              <p class="card-text">Comprat el teu nou cotxe amb nosaltres a Bobby cotxes i farem un descompte adicional del 10% per ser soci!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</main>
