.article-titol{
  font-size: 50px;
}

.xarxes{
  width: 50px;
  height: 50px;
}

.xarxestext{
  font-size: 0.1em;
}

#formulari-contenidor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  box-shadow: 10px 10px #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

#ubi{
  width: 70%;
}

input[type="email"], input[type="password"], button[type="submit"] {
  width: 100%;
  text-align: center;

}

button[type="submit"]{
  width: 40%;
}

.prefooter {
  background-color: #474747;
  display: flex;
  flex-direction: row;
}


.enllaços-footer a {
  color: lightslategrey;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1%;
}

.enllaços-footer a:hover {
  color: lightslategrey;
}

pre {
  text-align: justify;
  white-space: break-spaces;
}

.footercomplert{
  width: 100%;
}

.imgsn{
  margin-bottom: 2%;
}

.enviartrucar{
  display: flex;
  gap: 2px;
  justify-content: center;

}


@media screen and (max-width: 768px) {

  .prefooter {
    background-color: #474747;
    display: flex;
    flex-direction: row;
  }

  .imgsn {
    width: 300px;
    margin-bottom: 2%;
  }

  article p .btn{
    width: 10%;
  }
}
