<article>
  <div id="formulari-contenidor">
    <form action="" method="post" class="bg-secondary rounded">
      <div class="article-titol-div">
        <h1 class="article-titol">Iniciar sessió</h1>
      </div>
      <div class="mb-3">
        <label class="form-label">Correu</label>
        <input name="correu-sessio" type="email" placeholder="Usuari/Correu" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label ">Contrasenya</label>
        <input name="password-sessio" type="password" class="form-control" required>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input">
        <label name="reocordar-dades" class="form-check-label">Recordar?</label>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Iniciar sessió</button>
    </form>
  </div>

  <p class="fs-2 mt-3"><strong>No tens compte? Crea aqui la teva compte per comneçar a comprar </strong><a href="Form.user.html" class="btn btn-primary" type="button"><img class="compra" src="multimedia/iconacrear.png"></a></p>

</article>
