aside {
  background-color: greenyellow;
  text-align: center;
  padding: 1%;
  width: 23%;
}

article {
  width: 76%;
  color: white;
  background-color: #383838;
  text-align: center;
  padding: 2%;
}

main {
  display: flex;
}
