<article>
  <div id="formulari-contenidor">
    <form action="" method="post" class="bg-secondary rounded">
      <div class="article-titol-div">
        <h1 class="article-titol">Crear compte</h1>
      </div>
      <div class="d-flex flex-row mb-3 justify-content-between gap-3">
        <div>
          <label class="form-label">Nom</label>
          <input name="nom" type="text" placeholder="Bobby" class="form-control">
        </div>
        <div>
          <label class="form-label">Cognom</label>
          <input name="cognom" type="text" placeholder="Cotxes" class="form-control">
        </div>
      </div>
      <div id="divocorreu" class="mb-3">
        <label class="form-label">Correu</label>
        <input name="correu" type="email" placeholder="exemple@bobbycotxes.com" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Usuari</label>
        <input name="usuari" type="text" placeholder="Bobbycotxes" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label ">DNI</label>
        <input name="dni" type="text" placeholder="12345678A" class="form-control">
      </div>
      <div class="d-flex flex-row mb-3 justify-content-between gap-3">
        <div>
          <label class="form-label ">Data neixament</label>
          <input name="dataneixament" type="date" class="form-control">
        </div>
        <div>
          <label class="form-label ">Edat</label>
          <input name="edat" type="number" min="18" max="60" class="form-control" value="18">
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Telefon</label>
        <input name="telefon" type="text" placeholder="932 345 678" class="form-control">
      </div>
      <div class="d-flex flex-row mb-3 justify-content-between gap-3" >
        <div>
          <label class="form-label ">Contrasenya</label>
          <input name="contrasenya" type="password" class="form-control" value="*******">
        </div>
        <div>
          <label class="form-label ">Contrasenya Confirmar</label>
          <input name="contrasenya-com" type="password" class="form-control" value="********">
        </div>
      </div>
      <div id="divtelefon" class="mb-3">
        <label class="form-label">Adreça</label>
        <input name="adreça" type="text" placeholder="Rda. de Sant Antoni, 4, Ciutat Vella, 08001 Barcelona" class="form-control">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">Recordar?</label>
      </div>
      <div class="d-flex flex-row mb-3 justify-content-between gap-3">
        <div>
          <a href="paginaloadingcrearcompte.html" type="submit" class="btn btn-primary">Crear</a>
        </div>
        <div>
          <button type="reset" class="btn btn-primary">Reiniciar</button>
        </div>

      </div>
    </form>
  </div>
</article>
