<!-- Aqui encontramos el header de la web-->
<header class="mt-0 ">
  <div class="headerdis">
    <div class="mt-2 me-2">
      <img class="img-fluid imgheader" src="multimedia/logo.png" alt="Logo">
      <p *ngIf="serveiUsuaris.usuari_logat_bool" class="fs-4">{{serveiUsuaris.usuari_logat?.usuario}}!</p>
      <button *ngIf="serveiUsuaris.usuari_logat_bool" (click)="logout()">Logout</button>
    </div>
    <div>
      <blockquote class="blockquote">
        <p id="titolheader" class="fs-1">Cotxes Bobby</p>
      </blockquote>
      <p class="blockquote-footer">
        Potencia en cada corba, la emoció en cada kilometre
      </p>
    </div>
  </div>
</header>
