   <form type="multipart/formdata">
     <p>AFEGUIR COTXE</p>

     <label>nom cotxe</label>
     <input [(ngModel)]="nom" type="text" name="nomcotxe">

     <label>text oferta </label>
     <input [(ngModel)]="textoferta" type="text" name="textoferta">

     <label>preu cotxe</label>
     <input [(ngModel)]="preu" type="number" (change)="onPreuChange()" name="preu">

     <div class="d-flex flex-column">
       <label>categories</label>
       @for (categoria of categories; track categoria){
         <input type="checkbox" name="{{categoria}}" value="{{categoria}}" (click)="afeguirCategoria(categoria)" id="{{categoria}}">
         <label for="{{categoria}}">{{categoria}}</label><br>
       }
     </div>

     <label id="imgfaltants"></label>
     <label>3 imatges</label>
     <input id="imatges" [(ngModel)]="arxius" name="nom" type="file" multiple (change)="onFileChange($event)">

     <button (click)="enviarbd()">enviar</button>
   </form>
